/* =Menu
----------------------------------------------- */
/* line 3, nav.scss */
.main-navigation {
  clear: both;
  display: block;
  float: left;
  width: 100%; }

/* line 9, nav.scss */
.main-navigation ul {
  list-style: none;
  margin: 0;
  padding-left: 0; }

/* line 14, nav.scss */
.main-navigation li {
  float: left;
  position: relative; }

/* line 18, nav.scss */
.main-navigation a {
  display: block;
  text-decoration: none; }

/* line 22, nav.scss */
.main-navigation ul ul {
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  display: none;
  float: left;
  position: absolute;
  top: 1.5em;
  left: 0;
  z-index: 99999; }

/* line 33, nav.scss */
.main-navigation ul ul ul {
  left: 100%;
  top: 0; }

/* line 37, nav.scss */
.main-navigation ul ul a {
  width: 200px; }

/* line 48, nav.scss */
.main-navigation ul li:hover > ul {
  display: block; }

/* Small menu */
/* line 56, nav.scss */
.menu-toggle {
  cursor: pointer; }

/* line 59, nav.scss */
.main-small-navigation .menu {
  display: none; }

/* =Navigation
----------------------------------------------- */
/* line 67, nav.scss */
#content .site-navigation {
  margin: 0 0 1.5em;
  overflow: hidden;
  padding: 10px 15px 0; }

/* line 72, nav.scss */
#content .nav-previous {
  float: left;
  width: 50%; }

/* line 76, nav.scss */
#content .nav-next {
  float: right;
  text-align: right;
  width: 50%; }
